body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
a {
    color: #B1D013;
    text-shadow: 1px 1px #859e05;
}
img {
    max-width: 100%;
}
footer img {
    margin: .5em 1.5em;
    vertical-align: text-top;
}
.right {
    float: right;
    margin: .5em 1em;
    height: 20em;
}

@media only screen and (max-width: 768px) {
    .right {
        float: inherit;
        margin: .5em 0;
    }
}
